<div class="list row">
    <div class="col-md-12">
        <h4 style="margin-bottom: 20px;">Lista de Prospectos</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre del prospecto</th>
                    <th scope="col">Primer apellido</th>
                    <th scope="col">Segundo apellido</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prospecto of prospectos; let i = index" [class.active]="i == currentIndex"
                    (click)="setActiveProspecto(prospecto, i)">
                    <td>{{prospecto.nombre}}</td>
                    <td>{{prospecto.primer_apellido}}</td>
                    <td>{{prospecto.segundo_apellido}}</td>
                    <td>{{prospecto.status_prospecto}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>