<div style="width: 400px; margin: auto;">
    <h2>Captura de prospecto</h2>
    <small class="form-text text-muted">Los datos marcados con un asterisco son obligatorios</small>
    <form id="datosProspecto" name="datosProspecto" (ngSubmit)="guardarProspecto()" novalidate
        #formularioDatosProspecto="ngForm">

        <div class="form-group">
            <label for="nombre">Nombre*</label>
            <input type="text" class="form-control" id="nombre" pattern="" required [(ngModel)]="prospecto.nombre"
                name="nombre" />
        </div>

        <div class="form-group">
            <label for="primer_apellido">Primer Apellido*</label>
            <input class="form-control" id="primer_apellido" required [(ngModel)]="prospecto.primer_apellido"
                name="primer_apellido" />
        </div>

        <div class="form-group">
            <label for="segundo_apellido">Segundo Apellido</label>
            <input class="form-control" id="segundo_apellido" [(ngModel)]="prospecto.segundo_apellido"
                name="segundo_apellido" />
        </div>

        <div class="form-group">
            <label for="calle">Calle*</label>
            <input class="form-control" id="calle" required [(ngModel)]="prospecto.calle" name="calle" />
        </div>

        <div class="form-group">
            <label for="numero">Numero*</label>
            <input class="form-control" id="numero" required [(ngModel)]="prospecto.numero" name="numero" />
        </div>

        <div class="form-group">
            <label for="colonia">Colonia*</label>
            <input class="form-control" id="colonia" required [(ngModel)]="prospecto.colonia" name="colonia" />
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="codigo_postal">Código Postal*</label>
                <input class="form-control" id="codigo_postal" required [(ngModel)]="prospecto.codigo_postal"
                    name="codigo_postal" />
            </div>

            <div class="form-group col-md-6">
                <label for="telefono">Teléfono*</label>
                <input class="form-control" id="telefono" required [(ngModel)]="prospecto.telefono" name="telefono" />
            </div>

        </div>

        <div class="form-group">
            <label for="rfc">RFC*</label>
            <input class="form-control" id="rfc" minlength="13" maxlength="15" required [(ngModel)]="prospecto.rfc"
                name="rfc" aria-describedby="rfcHelpBlock" />
            <small id="rfcHelpBlock" class="form-text text-muted">
                El RFC debe estar compuesto por números y letras de al menos 13 caracteres y máximo 15
            </small>
        </div>

        <div class="form-group">
            <div>
                <div>
                    <label for="">Documentos*</label>
                    <small class="form-text text-muted">Ingrese el nombre del documento</small>
                    <input class="form-control" #nombreDocumento type="text" id="nombreDocumento"
                        name="nombreDocumento" required [(ngModel)]="prospecto.nombreDocumento">
                    <img #imagenCSF src="../../../../../assets/descarga.jpg" (click)="subirArchivoCSF()">
                </div>
                <input #archivoCSF type="file" style="display: none" id="idPdf" accept="application/pdf"
                    (change)="cambioArchivoCSF()" required>
                <small id="card-error-pdf" class="text-danger" role="alert"></small>
            </div>
        </div>

        <button type="submit" [disabled]="formularioDatosProspecto.invalid" class="btn btn-success">Enviar</button>
        <button style="margin-left: 20px;" type="button" (click)="validarSalida()" class="btn btn-danger">Salir</button>
    </form>

</div>